---
title: My Super Awesome Cat Blog
layout: main
---
<h2>My Super Awesome Cat Blog</h2>
{% assign posts = collections.posts | reverse %}
{% comment %} TODO Why is the limit tag not working at this place? {% endcomment %}
{% for post in posts linit:3 %}
<p>
<a href="{{ post.url }}">{{ post.data.title }}</a> <i>(written {{ post.date | date: "%b %d, %Y"}})</i>
</p>
{% endfor %}
