<!DOCTYPE html>
<html lang={{ site.language }}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{ title }}</title>
  </head>
  <body>

    {% include "partials/site-head.html" %}

    <!--the main element tells the browser where the main content of the site lives-->
    <!--the id and tabindex attribute allows the main element to be programatically focused-->
    <main tabindex="-1" id="main-content">

      <!--create named placeholder for content-->
      {% block content %}
      <p>
	This is a placeholder content that renders because a template doesn’t define this block.
      </p>
      {% endblock %}

    </main>
  </body>
</html>
